/*Whole Document*/
* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #0A1828;
  --second-bg-color:#FF5100;
  --text-color: #6ACFC7;
  --second-text-color:#BFA181;
  --main-color:#96C2DB;
  font-family: 'Lugrasimo', cursive;
}
/*Whole Document Ends*/
/*--------------------------------------------*/
/*Header*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  top: o;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
}
.header.sticky{
  background: var(--text-color);
  box-shadow: 0 0.1rem 1rem var(--text-color);
}
#menu-icon{
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: default;
  transition: 0.3s;
}
.navbar a {
  font-size: 1.7rem;
  color: var(--bg-color);
  margin-left: 4rem;
  font-weight: 600;
}
.header.sticky.navbar a{
  color: var(--text-color);
}
.navbar a:hover{
  font-size: 2rem;
}
/*Header Ends*/
/*--------------------------------------------*/
/*Home Page*/
section{
  min-height: 100vh;
  padding: 10rem 7% 2rem;
  color: var(--second-text-color);
}
.home{
  display: flex;
  align-items:center ;
} 
.home .home-content{
  max-width: 44rem !important;
}
.home-content h3{
  font-size: 3.2rem;
  font-weight: 700;
  line-height: .3;
}
.home-content h1{
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.home-content p{
  font-size: 1.6rem;
}
.home-content .social-media a{
  color: var(--second-text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid ;
  border-radius: 50%;
  font-size: 2rem;
  margin: 2.5rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.home-content .social-media a:hover{
  color: var(--text-color);
  font-weight: bold;
}
.btn{
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--text-color);
  border-radius: 0.6rem;
  box-shadow: 0.2rem 0.5rem var(--text-color);
  font-size: 1.6rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  color: black;
}
.btn:hover{
  color: var(--second-text-color);
}
.home .profession-container{
  position: absolute;
  top: 50%;
  right: 0;
  transform:translateY(-50%) ;
  width: 768px;
  height: 768px !important;
  overflow: hidden;
  pointer-events: none;
}
.home .profession-container .profession-box{
  position: absolute;
  top: 0;
  right: 0 !important;
  width:768px;
  height: 768px !important;
  border-radius: 50%;
  display: flex;
  justify-content:center;
  align-items: center;
  animation: professionRotate 13s ease-out infinite;
}
@keyframes professionRotate{
  0%,20%{
    transform: rotate(0deg);
  }
  25%,45%{
    transform: rotate(-90deg);
  }
  50%,70%{
    transform: rotate(-180deg);
  }
  75%,95%{
    transform: rotate(-270deg);
  }
  100%{
    transform: rotate(-360deg);
  }
  
}
.home .profession-box .profession{
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: rotate(calc(360deg/4*var(--i)));
  transform-origin: 384px;
  background: var(--bg-color);
  padding: 13px 0;
}
.home .profession-box .profession:nth-child(1) i{
  margin-right: 15px;
}
.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4){
  padding-bottom: 20px;
}
.home .profession i{
  font-size: 3.8rem;
}
.home .profession h3{
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 600;
}
.home .profession-box .circle{
  width: 600px;
  height: 600px;
  border: 4px solid var(--text-color);
  border-radius: 50%;
}
.home .profession-container .overlay{
  position: absolute;
  top: 0;
  right: 0!important;
  width: 0;
  height: 0;
  border-top: 384px solid var(--text-color);
  border-right: 384px solid var(--text-color);
  border-bottom: 384px solid var(--text-color);
  border-left: 384px solid transparent;
}
.home-img img{
  position: absolute;
  bottom: 100px;
  right: 20px;
  pointer-events: none;
  border-radius: 100px;
}
span{
  color: var(--text-color);
}
/*Home Page Ends*/
/*--------------------------------------------*/
/*About Page*/
.about{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img img{
  width: 40vw;
}
.heading{
  font-size: 4.5rem;
  text-align: center;
}
.about-content h2{
  text-align: left;
  line-height: 1.2;
}
.about-content p{
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  gap: 4rem;
}
/*About Page Ends*/
/*--------------------------------------------*/
/*Skills Page*/
.skills{
  min-height: auto;
  padding-bottom: 7rem;
}
.skills h2{
  margin-bottom: 5rem;
}
.skills .skills-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.skills-container .skills-box{
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--text-color);
  text-align: center;
  border-top: 0.6rem solid var(--text-color);
  border-bottom: 0.6rem solid var(--text-color);
  transition: 0.5s ease;
}
.skills-container .skills-box:hover{
  box-shadow: 0 0.1rem 2rem var(--text-color);
  transform: scale(1.02);
}
.skills-box i{
  font-size: 7rem;
  color: var(--second-text-color);
}
.skills-box h3{
  font-size: 2.6rem;
}
.skills-box p{
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
/*Skills Page Ends*/
/*--------------------------------------------*/
/*Certifications Page*/
.certification{
  min-height: auto;
  padding-bottom: 7rem;
}
.certification h2{
  margin-bottom: 5rem;
}
.certification .certification-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.certification-container .certification-box{
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--text-color);
  text-align: center;
  border-top: 0.6rem solid var(--text-color);
  border-bottom: 0.6rem solid var(--text-color);
  transition: 0.5s ease;
}
.certification-container .certification-box:hover{
  box-shadow: 0 0.1rem 2rem var(--text-color);
  transform: scale(1.02);
}
.certification-box img{
  height: 2rem;
  width: 10rem;
  color: var(--second-text-color);
}
.certification-box .udemy-img{
  height: 3rem;
}
.certification-box h3{
  font-size: 2.6rem;
}
.certification-box p{
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
/*Certifications Page Ends*/
/*--------------------------------------------*/
/*Projects Page*/
.project{
  padding-bottom: 10rem;
}
.project h2{
  margin-bottom: 4rem;
}
.project .project-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  gap: 2rem;
}
.project-container .project-box{
  position: relative;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--text-color);
  overflow: hidden;
}
.project-box img{
  opacity: 1;
  width: 100%;
  transition: 0.5 ease;
}
.project-box:hover img{
  transform: scale(1.1);
}
.project-box .project-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color:var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  opacity: 1;
  /*transition: 0.5s ease;*/
}
/*.project-box:hover .project-layer{
  opacity: 1;
}*/
.project-layer h4{
  font-size: 3rem;
}
.project-layer p{
  font-size: 1rem;
  margin: 0.3rem 0 1rem;
}
.project-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--bg-color);
  border-radius: 50%;
}
.project-layer a i{
  font-size: 2rem;
  color: var(--second-text-color);
}
/*Projects Page Ends*/
/*--------------------------------------------*/
/*Contact Page*/
.contact h2{
  margin-bottom: 3rem;
}
.contact form{
  max-width: 70em;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: #F8F6F0;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0.1rem 0.5rem var(--main-color);
}
.contact form .input-box input{
  width: 49%;
}
.contact form textarea{
  resize: none;
}
.contact form .btn{
  margin-top: 2rem;
  cursor: pointer;
}
/*Contact Page Ends*/
/*--------------------------------------------*/
/*Footer*/
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: var(--bg-color);
  height: 0.25px;
}
/*Footer Ends*/
/*--------------------------------------------*/
/*Breakpoints*/
@media(max-width:1200px){
  html{
    font-size: 55%;
  }
  .home .profession-container{
    height: 85.8rem;
  }
  .home .profession-container .profession-box{ 
    right: -12rem;
    height: 85.8rem;
  }
  .home .profession-container .overlay{
    right: -9rem;
  }
}

@media(max-width:1024px){
  .header{
    padding: 2rem 3%;
  }
  section{
    padding: 10rem 3% 2rem;
  }
  .home .profession-container .profession-box{
    right: -22rem;
  }
  .home .profession-container .overlay{
    right: -15rem;
  }
}

@media(max-width:991px){
  .navbar a:nth-child(1),
  .navbar a:nth-child(2){
    color: var(--text-color);
  }
  .home .home-content{
    max-width: 50rem;
  }
  .home .profession-container .profession-box{
    right: -45rem;
  }
  .home .profession-container .overlay{
    right: -39.5rem;
  }
  .home-img img{
    display: none;
  }
  .skills,.project{
    padding-bottom: 7rem;
  }
  .contact{
    min-height: auto;
  }
  .footer{
    padding: 2rem 3%;
  }
}

@media(max-width:768px){
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid var(--text-color);
    box-shadow: 0 0.5rem 1rem var(--text-color);
    display: none;
  }
  .navbar.active{
    display: block;

  }
  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }
  .navbar a::before{
    display: none;
  }
  .home{
    padding: 0 3% 23rem;
    justify-content: center;
    text-align: center;
  }
  .home-content h3{
    font-size: 2.6rem;
  }
  .home-content h1{
    font-size: 5rem;
  }
  .home-content .social-media a{
    margin: 2.5rem 0.75rem 3rem;
  }
  .home .profession-container{
    left: 0;
    width: 100%;
    height: 100%;
  }
  .home .profession-container .profession-box{
    position: fixed;
    top: 60%;
    left: 0;
    border-radius: 0;
    width: 100%;
  }
  .home ,.profession-box .profession{
    padding: 0 13px;
    left: auto;
    transform-origin: 0;
  }
  .home .profession-box .profession:nth-child(1){
    transform: rotate(-90deg) translate(120px,-210px);
  }
  .home .profession-box .profession:nth-child(1) i{
    margin-right: 0;
  }
  .home .profession-box .profession:nth-child(2){
    transform: rotate(0deg) translate(0,-335px);
  }
  .home .profession-box .profession:nth-child(3){
    transform: rotate(90deg) translate(-115px,-450px);
  }
  .home .profession-box .profession:nth-child(4){
    transform: rotate(180deg) translate(-220px,-335px);
  }
  .home .profession-box .circle{
    position: fixed;
    width: 670px;
    height: 670px;
    z-index: -1;
  }
  .home .profession-container .overlay{
    position: fixed;
    top: 70rem;
    left: 50%;
    right: 0;
    transform: rotate(90deg) translate(-50%,50%) scaleY(3);
    border-width: 23.9rem;
  }
  .about{
    flex-direction: column-reverse;
    text-align: center;
  }
}
/*Breakpoints End*/
